html{
	/*background: url();*/
	background-repeat: no-repeat;
	background-position: center left;
	background-attachment: fixed;
	background-size: cover; 
	position: absolute;
}
.clear{
	clear: both;
}
.bg{
	background-color: rgba(5,5,5,0.5);
	background-size: cover;
}
p{
	font-family: "ambleregular";
	font-weight: bold;
	text-decoration-color: black;
}
.background{
	background: #383838;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
}
h5{
	font-weight: bold;
	font-family:'ambleregular';
}
#myDiv{
	font-family: "ambleregular";
	
}
.source{
	border: 1pt solid black;
	text-align: center;
}